<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="RavenNLog" connectionString="Url=http://ws-1:8080;Database=RavenNLog" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Raven" />
    </extensions>
    <targets>
      <target name="raven" xsi:type="BufferingWrapper" flushTimeout="7000">
        <target xsi:type="Raven" ConnectionStringName="RavenNLog" IdType="Guid" CollectionName="LogEntries">
          <field name="EventDate" layout="${longdate}" />
          <field name="Logger" layout="${logger}" />
          <field name="Message" layout="${message}" />
          <field name="Host" layout="${machinename}" />
          <field name="Exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="raven" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
