<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Raven"/>
    </extensions>
    <targets>
      <target name="raven" xsi:type="BufferingWrapper" flushTimeout="7000">
        <target xsi:type="Raven" IdType="Guid" CollectionName="LogEntriesExpire" Urls="http://localhost:8080" Database="logs" ExpiryDays="3">
          <field name="EventDate" layout="${longdate}"/>
          <field name="Logger" layout="${logger}"/>
          <field name="Message" layout="${message}"/>
          <field name="Host" layout="${machinename}"/>
          <field name="Exception" layout="${exception:format=toString}"/>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="raven"/>
    </rules>
  </nlog>
</configuration>
